.shop {
    margin: 0 15rem;
}

.title {
    font-size: 7rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 2rem;
}

.products {
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 5rem;
}