.shop-margins {
    margin: 0 15rem;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1rem 0.5rem;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}