.product-detail-image {
    width: 35rem;
    height: 35rem;
}

.product-detail-container {
    padding-top: 5rem;
    display: flex;
}

.product-detail {
    width: 50%;
    min-width: 40rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-detail > * {
    width: fit-content;
}

.product-quantity {
    display: flex;
    flex-direction: column;
}